@page "/game"
@inject GameService GameService;

<PageTitle>Dice Gladiator</PageTitle>

<img src="/img/spartan-silhouette.png" asp-append-version="true" width="300px" />

<p>
    🎖️: @GameService.CurrentEnemy.Score
</p>

<p>
    ❤️: @GameService.CurrentEnemy.Score
</p>

<p>
    👣: @GameService.CurrentEnemy.Speed
</p>

<p>
    👥: @GameService.CurrentEnemy.Duo
</p>

<p>
    🎯: @GameService.CurrentEnemy.WeakSpot
</p>

<p>
    💀: @GameService.CurrentEnemy.Elite
</p>


<button class="btn btn-primary" @onclick="NextEnemy">FIGHT</button>

@code {
    private void NextEnemy()
    {
        GameService.NextEnemy(null);
    }
}
