<img src="/img/spartan-silhouette.png" asp-append-version="true" class="img-fluid" max-width="300" />

<p>
    🎖️: @GameService.CurrentEnemy.Score
</p>

<p>
    ❤️: @GameService.CurrentEnemy.Health
</p>

<p>
    👣: @GameService.CurrentEnemy.Speed
</p>

<p>
    👥: @GameService.CurrentEnemy.Duo
</p>

<p>
    🎯: @GameService.CurrentEnemy.WeakSpot
</p>

<p>
    💀: @GameService.CurrentEnemy.Elite
</p>

@code {

	[CascadingParameter]
	public GameService GameService { get; set; }

}